{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}User Profile{% endblock %}
{% block user_profile %}
<div id="edit">
    <form class="form-horizontal" method="POST" id="user-form">
        {% csrf_token %}
        <div class="alert alert-success" id="successDiv" hidden="hidden">

        </div>
        <div class="alert alert-danger" id="errorDiv" hidden="hidden">

        </div>

        <h4 class="mb-xlg">Personal Information</h4>
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label" for="first_name">First Name</label>
                <div class="col-md-8">
                    {% render_field user_form.first_name placeholder="First Name" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="last_name">Last Name</label>
                <div class="col-md-8">
                    {% render_field user_form.last_name placeholder="Last Name" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">Email</label>
                <div class="col-md-8">
                    {% render_field user_form.email placeholder="Email" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="phone">Phone</label>
                <div class="col-md-8">
                    {% render_field user_form.phone placeholder="Phone(10 digit)" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="company_name">Company Name</label>
                <div class="col-md-8">
                    {% render_field user_form.company_name placeholder="Company Name" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="business_type">Business Type</label>
                <div class="col-md-8">
                    {% render_field user_form.business_type placeholder="Business Type" class+="form-control" %}
                </div>
            </div>
        </fieldset>
        <hr class="dotted tall">
        <h4 class="mb-xlg">Change Password</h4>
        <fieldset class="mb-xl">
            <div class="form-group">
                <label class="col-md-3 control-label" for="password1">New Password</label>
                <div class="col-md-8">
                    {% render_field user_form.password1 placeholder="New Password" class+="form-control" %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="password2">Repeat New Password</label>
                <div class="col-md-8">
                    {% render_field user_form.password2 placeholder="Repeat New Password" class+="form-control" %}
                </div>
            </div>
        </fieldset>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <!-- <button type="reset" class="btn btn-default">Reset</button> -->
                </div>
            </div>
        </div>

    </form>

</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/user_profile.js' %}"></script>
{% endblock %}